:root {
  /* COLOR VARIABLES */
  --color-light-blue: hsl(213, 100%, 98%);
  --color-blue: hsl(192, 99%, 39%);
  --color-dark-blue: hsl(212, 68%, 40%);
  --color-purple: hsl(291, 49%, 31%);
  --color-light-yellow: hsl(46, 100%, 78%);
  --color-yellow: hsl(45, 100%, 50%);

  /* FONT VARIABLES */
  --font-notosans: "Noto Sans Display", sans-serif;
  --fs-buttons: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-notosans);
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 149.7%;
  text-align: left;
  margin: 0;
}

.bold {
  font-weight: 800;
}

.bigtitles {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 120%;
  color: var(--color-purple);
  width: 70%;
  text-align: center;
}

.banner {
  background-color: var(--color-dark-blue);
  font-weight: 500;
  width: 100%;
  color: white;
  height: 2.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.herobanner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.headlogo {
  width: 45%;
}

.heroimage {
  width: 90%;
  max-width: 62.3rem;
  margin-bottom: 2.5rem;
}

.first_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 62.3rem;
  margin: 0 auto;
}

.firstcolumn {
  background-color: var(--color-dark-blue);
  color: white;
  min-width: 35%;
  max-height: 25rem;
  min-height: 19rem;
  max-width: 30.625rem;
  padding: 2rem 0rem;
  margin: 2.25rem 0 0 3.75rem;
  font-size: 1.563rem;
  line-height: 1.875rem;
  border-left: 10px solid var(--color-yellow);
  border-radius: 0px 50px 0px 0px;
}

.firstcolumn_text {
  padding: 0rem 3rem;
}

.arrow {
  width: 8.875rem;
  height: 7.336rem;
}

.second_column {
  width: 30%;
  margin-top: 0;
  color: blue;
  min-height: 23.75rem;
  padding-right: 2rem;
}

.second_column .button {
  display: inline-block;
  margin-top: 2rem;
}

.secondtitles {
  color: var(--color-blue);
  font-size: 35px;
  font-weight: 800;
}

.secondcolumn_text {
  max-width: 20rem;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 120%;
  color: var(--color-purple);
}

.button {
  padding: 1.5rem;
  background-color: var(--color-blue);
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
}

.network_container {
  width: 100%;
  background-color: var(--color-light-blue);
  margin-top: 4rem;
  height: 36.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.network_card_container {
  display: flex;
  width: 85%;
  max-width: 85rem;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 1.563rem;
  line-height: 120%;
  color: var(--color-dark-blue);
}
.network_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.network_card p {
  width: 100%;
  text-align: center;
}

.map_container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
}

.map {
  width: 90%;
  max-width: 62.5rem;
  object-fit: cover;
  margin-top: 3rem;
}

.map_container h1 {
  width: 70%;
}

.map_border {
  width: 10px;
  height: 64.563rem;
  background-color: var(--color-yellow);
  color: var(--color-yellow);
  border: none;
  position: absolute;
  margin-top: 9rem;
  margin-left: -56rem;
}

.joinuscontainer_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  background: url("./images/pattern2.svg") #ffe690 repeat;

  height: auto;
  color: var(--color-purple);

  justify-content: flex-end;
  align-items: center;
}
.joinus_container p {
  padding-right: 4rem;
}

.joinus_container a {
  text-decoration: none;
  width: 65%;
  display: flex;
}

.joinus_container {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 0rem 3rem;
  align-items: center;
}

.joinus_image {
  width: 100%;
  object-fit: contain;
  justify-self: flex-end;
  max-width: 48rem;
}

.joinus_smalltext {
  display: inline-block;
  font-weight: 600;
  font-size: 1.563rem;
  line-height: 149.7%;
  text-align: right;
  width: 60%;
  height: fit-content;
  display: flex;
  align-self: flex-end;
}

.joinus_bigtext {
  width: 60%;
  text-align: right;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  display: flex;
  align-self: flex-end;
}

/* FOOTER */

footer {
  background-color: var(--color-purple);
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 149.7%;
  text-align: left;
}

footer a,
a:visited,
a:hover,
a:active {
  color: white;
}

.footer_firsticon {
  width: 6.125rem;
  height: 6.313rem;
}

.footer_linkedin {
  display: flex;
  flex-direction: column;
}

.footer_linkedin hr {
  width: 228px;
  height: 0px;
  border: 1px solid #ffffff;
  border-radius: 18px;
  background-color: #ffffff;
  padding: 0;
  margin: 0.4rem 0 0.4rem 0;
}

.footer_linkedin_logo {
  width: 2.5rem;
  height: 2.5rem;
}

.footer_legal {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.footer_secondicon {
  width: 6.25rem;
}

/* MENTIONS LÉGALES */

.legaltext {
  padding: 0.5rem 4rem;
  line-height: 180%;
}

.legaltext .button {
  color: white;
  display: block;
  width: fit-content;
  padding: 0.8rem 1.8rem;
}

.legaltext .bold {
  color: var(--color-purple);
  font-size: 1.2rem;
}

.legaltext a {
  color: var(--color-purple);
}

.address {
  font-weight: 800;
}

.bigtitlelegal,
.smalltitlelegal {
  padding: 0rem 4rem;
}

.bigtitlelegal {
  text-align: left;
  font-weight: 800;
  font-size: 2rem;
  line-height: 120%;
  color: var(--color-purple);
}

.smalltitlelegal {
  text-align: left;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 120%;
  color: var(--color-blue);
}

.dividerlegal,
.dividerlegalsmall {
  margin-left: 4rem;
  height: 2px;
  border: var(--color-yellow);
  background-color: var(--color-yellow);
}

.dividerlegal {
  width: 50%;
}

.dividerlegalsmall {
  width: 20%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .secondtitles,
  .bigtitles,
  .joinus_bigtext {
    font-size: 1.5rem;
  }

  .firstcolumn,
  .secondcolumn_text,
  .network_card,
  .joinus_smalltext {
    font-size: 1rem;
  }

  .banner {
    padding: 0.3rem 0;
  }

  .first_container {
    flex-direction: column;
  }

  .firstcolumn {
    margin: 1.5rem 1.5rem 0 1.5rem;
    padding: 1.5rem 0rem;
    max-height: fit-content;
    min-height: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .firstcolumn_text {
    padding: 0 1.5rem;
  }

  .arrow {
    transform: rotate(90deg);
  }

  .second_column {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    min-height: 20rem;
  }

  .button {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .network_container {
    margin-top: 2rem;
    flex-direction: column;
    height: fit-content;
    padding: 1rem 0;
  }

  .network_card_container {
    flex-direction: column;
  }

  .network_card {
    flex-direction: row;
  }

  .network_card p {
    text-align: left;
    padding-left: 1rem;
  }

  .network_icons {
    width: 25%;
    margin: 1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }

  .footer_firsticon,
  .footer_linkedin,
  .footer_legal {
    margin-bottom: 1rem;
  }
}
